* {
    box-sizing: border-box;
}

input[type=text],
select {
    width     : 100%;
    padding   : 15px;
    margin    : 5px 0 22px 0;
    display   : inline-block;
    border    : none;
    background: #f1f1f1;
}

input[type=text],
select:focus {
    background-color: #ddd;
    outline         : none;
}

hr {
    border       : 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.register-container {
    margin          : auto;
    width           : 50%;
    padding         : 16px;
    background-color: white;
}

.form-header {
    text-align: center;
}

.form-field-header {
    margin-left: 5%;
}

.form-field {
    margin-left: 10%;
}

.form-send-btn {
    background-color: #4CAF50;
    color           : white;
    padding         : 16px 20px;
    margin          : 8px 0;
    border          : none;
    cursor          : pointer;
    width           : 100%;
    opacity         : 0.9;
}


.form-send-btn:hover {
    opacity: 1;
}

select {
    font-family: Arial, sans-serif;
    font-size  : 15px;
}