.App-Position {
  margin: auto;
  width: 70%;
  padding: 2% 3% 3% 3%;
  background-color: #ffffff;
}

.table-title {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #FFC107;
  font-size: 18Pt;
}