.guest-search-container {
    background-color: #ededed;
    margin: 1%;
    width: -webkit-fill-available;
    padding: 2%;
}

.guest-search-container.light {
    background-color: #ededed;
}

.guest-search-container.dark {
    background-color: #1d1d1d;
}

.guest-search-container input{
    width: inherit;
    border: none;
}

.guest-search-container.light input{
    background-color: #ededed;
}

.guest-search-container.dark input{
    background-color: #1d1d1d;
}

.guest-search-container input:focus {
    outline-width: 0;
}

.result-amount {
    margin: 1%;
    display: flex;
    justify-content: flex-end;
}

